// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins";
@import "global";
@import "utilities";

// Custom Components
@import "dropdowns";
@import "navs";
@import "buttons";
@import "cards";
@import "charts";
@import "login";
@import "error";
@import "footer";

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

.star {
  color: #ffd700;
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  content: "\f005";
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
.chip {
  background-color: $blue;
  color: $white;
  border-radius: 1em;
  display: inline-block;
  font-size: 11px;
  line-height: 1em;
  padding: 0.5em 1em;
  .remove {
    padding-left: 0.5em;
  }
}

.imageUpload {
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

input[type="file"]::file-selector-button {
  border: none;
  padding: 0.4em 0.75em;
  border-radius: 0.2em;
  background-color: $primary;
  font-size: 1em;
  color: $white;
  transition: all ease-in 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: $cyan;
}
.profile-info {
  margin-top: -100px;
}
.img-cover {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.slide-icon {
  color: $primary;
  background-color: rebeccapurple;
  padding: 1em;
}
