<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <div class="h1 py-4">
                    <a
                      class="
                        sidebar-brand
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                      href="/"
                    >
                      <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-store"></i>
                      </div>
                      <div class="sidebar-brand-text mx-3">
                        Shopie<sup></sup>
                      </div>
                    </a>
                  </div>
                  <h1 class="h4 text-gray-900 mb-4">
                    Before we continue, please select what you like.
                  </h1>
                </div>
                <div class="col-md-8 mx-auto">
                  <div class="card-deck py-3">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-deck py-3">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row mx-auto w-50">
                  <button
                    class="w-100 btn btn-lg btn-primary align-self-center"
                    type="submit"
                  >
                    <a href="/user">Continue</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts-->
    <%- include('../views/components/scripts/scripts.ejs') -%>
  </body>
</html>
