<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body class="bg-gradient-primary">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <div class="h1 py-4">
                        <a
                          class="
                            sidebar-brand
                            d-flex
                            align-items-center
                            justify-content-center
                          "
                          href="/"
                        >
                          <div class="sidebar-brand-icon">
                            <i class="fas fa-store text-primary"></i>
                          </div>
                          <div class="sidebar-brand-text mx-3 text-primary">
                            Shopie<sup></sup>
                          </div>
                        </a>
                      </div>
                      <h1 class="h4 text-gray-900 mb-4">
                        Continue Where You Left Off!
                      </h1>
                    </div>
                    <form class="user" action="" method="POST" id="form">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="login"
                          name="login"
                          placeholder="Enter Username or E-mail"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          placeholder="Enter Password"
                        />
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customCheck"
                          />
                          <label class="custom-control-label" for="customCheck"
                            >Remember Me</label
                          >
                        </div>
                      </div>
                      <button
                        class="w-100 btn btn-lg btn-primary"
                        type="submit"
                      >
                        Sign In
                      </button>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="forgot-password.html"
                        >Forgot Password?</a
                      >
                    </div>
                    <div class="text-center">
                      <p class="mt-4 mb-3 text-muted">
                        Don't Have An Account?
                        <a class="text-primary" href="/register">Sign Up</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts-->
    <%- include('../views/components/scripts/scripts.ejs') -%>
  </body>
</html>
