<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/user"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-store"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Shopie<sup></sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/user">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Admin Dashboard</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="/user/users"
      data-target="#collapseTwo"
      aria-expanded="true"
    >
      <i class="fas fa-user"></i>
      <span>Users</span>
    </a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-table"></i>
      <span>Tables</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="buttons.html">Category</a>
        <a class="collapse-item" href="cards.html">Interest</a>
        <a class="collapse-item" href="cards.html">Item</a>
        <a class="collapse-item" href="cards.html">ItemType</a>
        <a class="collapse-item" href="cards.html">Order</a>
        <a class="collapse-item" href="cards.html">Review</a>
        <a class="collapse-item" href="cards.html">Tag</a>
        <a class="collapse-item" href="cards.html">UserType</a>
        <a class="collapse-item" href="cards.html">WishList</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="/user/orders"
      data-target="#collapseUtilities"
      aria-expanded="true"
    >
      <i class="fas fa-chart-pie"></i>
      <span>Statistics</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="modal"
      data-target="#logoutModal"
    >
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
