<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/user"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-store"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Shopie<sup></sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/user">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">My Shop</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="/user/catalogue"
      data-target="#collapseTwo"
      aria-expanded="true"
    >
      <i class="fas fa-th-large"></i>
      <span>Catalogue</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="/user/orders"
      data-target="#collapseUtilities"
      aria-expanded="true"
    >
      <i class="fas fa-shopping-cart"></i>
      <span>Orders</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="/user/settings"
      data-target="#collapseUtilities"
      aria-expanded="true"
    >
      <i class="fas fa-cog"></i>
      <span>Settings</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="modal"
      data-target="#logoutModal"
    >
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
