<div
  class="modal fade"
  id="addItemModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Please add a new item.
        <form
          class="item"
          action=""
          id="form"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter Product Name"
              onKeyPress="return preventSubmit()"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="brand"
              name="brand"
              placeholder="Enter Product Brand"
              onKeyPress="return preventSubmit()"
              required
            />
          </div>
          <div class="form-group">
            <label for="type">Select Product Type</label>
            <select class="form-control" id="type" name="type">
              <% for (var i = 0; i < types.length; i++) { %>
              <option label="<%= types[i].name%>">
                <%= JSON.stringify(types[i])%>
              </option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="shortDesc"
              name="shortDesc"
              rows="6"
              placeholder="Enter Product Description"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="category">Select Category</label>
            <select class="form-control" id="category" name="category">
              <% for (var i = 0; i < categories.length; i++) { %>
              <option label="<%= categories[i].name%>">
                <%= JSON.stringify(categories[i])%>
              </option>
              <% } %>
            </select>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="tagInput"
              name="tagInput"
              placeholder="Enter Product Tags"
              onKeyPress="return preventSubmit()"
            />
            <input
              type="text"
              class="form-control"
              id="tags"
              name="tags"
              placeholder="Enter Product Tags"
              onKeyPress="return preventSubmit()"
              style="display: none"
            />
            <ul
              id="chips"
              class="col-md-12 d-flex justify-content-evenly flex-wrap px-0 py-1"
            ></ul>
          </div>

          <div class="form-group">
            <label for="imageUrls">Upload Images</label>
            <input
              type="file"
              accept="image/*"
              id="imageUrls"
              name="imageUrls"
              class="form-control imageUpload"
              placeholder="Add Product Images"
              multiple
              required
            />
          </div>

          <div class="form-group d-flex justify-content-between">
            <input
              type="number"
              class="form-control mr-2"
              id="price"
              name="price"
              placeholder="Enter Product Price"
              onKeyPress="return preventSubmit()"
              required
            />
            <input
              type="number"
              class="form-control ml-2"
              id="stock"
              name="stock"
              placeholder="Enter Product Stock"
              onKeyPress="return preventSubmit()"
            />
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var txt = document.getElementById("tagInput");
  var tags = document.getElementById("tags");
  var list = document.getElementById("chips");
  var items = [];
  var chip = document.getElementById("chip");

  txt.addEventListener("keypress", function (e) {
    if (e.key === "Enter") {
      let val = txt.value;
      if (val !== "") {
        if (items.indexOf(val) >= 0) {
          alert("Tag name is a duplicate");
        } else {
          items.push(val);
          render();
          txt.value = "";
          txt.focus();
        }
      } else {
        alert("Please type a tag Name");
      }
    }
  });

  function render() {
    list.innerHTML = "";
    items.map((item, index) => {
      list.innerHTML += `<li class="m-1 d-flex align-items-center chip"><span>${item}</span><a class="remove" href="javascript: remove(${index})"><i class="fas fa-times"></i></a></li>`;
    });
    tags.value = items;

    console.log(tags.value);
  }

  function remove(i) {
    items = items.filter((item) => items.indexOf(item) != i);
    render();
  }

  function preventSubmit() {
    return !(window.event && window.event.keyCode == 13);
  }

  window.onload = function () {
    render();
    txt.focus();
  };
</script>
